Host *
  User toshi
  IdentityFile ~/.ssh/id_rsa
  ForwardAgent yes
  ServerAliveInterval 30
  ServerAliveCountMax 5
  GSSAPIAuthentication no
  UserKnownHostsFile=/dev/null
  StrictHostKeyChecking no
  ControlMaster auto
  ControlPath ~/.ssh/mux-%r@%h:%p
  ControlPersist 4h

Host github.com
  HostName github.com
  AddKeysToAgent yes
  User git
  IdentityFile ~/.ssh/gitkey
  IdentitiesOnly yes
