[defaults]
# Ansibleのtaskなどで使われている古い記法のfactを修正する
inject_fact_as_vars = False
ansible_ssh_timeout = 10
host_key_checking = False
# retry files are not needed
retry_files_enabled = False
# human-readable output
stdout_callback = yaml
# Show task timing
callbacks_enabled = timer, profile_tasks
