# /etc/mackerel-agent/mackerel-agent.conf
apikey = "{{ mackerel_Api_Key }}"
pidfile = "/var/run/mackerel-agent.pid"
root = "/var/lib/mackerel-agent"
verbose = false

[host_status]
on_start = "working"

[connection]
post_metrics_dequeue_delay_seconds = 30 # delay for dequeuing from buffer queue
post_metrics_retry_delay_seconds   = 60 # delay for retring a request that causes errors
post_metrics_retry_max             = 10 # max numbers of retries for a request that causes errors
post_metrics_buffer_size           = 30 # max numbers of requests stored in buffer queue.

# Plugin for Linux
#[plugin.metrics.linux]
#command = "mackerel-plugin-linux"

[plugin.checks.disk]
command = "check-disk --path / --warning 10% --critical 5%"

# Plugin for SNMP
# [plugin.metrics.pps]
# command = "mackerel-plugin-snmp -name='pps' -community='private' '.1.3.6.1.2.1.31.1.1.1.7.2:eth01in:1:0' '.1.3.6.1.2.1.31.1.1.1.11.2:eth01out:1:0'"
