[defaults]
# Ansibleのtaskなどで使われている古い記法のfactを修正する( ansible_* --> ansible_facts.* )
# ansible_os_distribution などのfactを ansible_facts.os_distribution へ変更する必要あり
# default: True
inject_fact_as_vars = False
ansible_ssh_timeout=60
host_key_checking = False

# Show task timing
callbacks_enabled = timer, profile_tasks

# retry files are not needed
retry_files_enabled = False

stdout_callback = default
result_format = yaml