all:
  children:
    linux:
      vars:
        ignore_unreachable: yes
        ansible_ssh_user: toshi
        ansible_ssh_port: 22
        ansible_python_interpreter: /usr/bin/python3
        ansible_ssh_private_key_file: ~/.ssh/id_rsa
      children:
        vpn:
          hosts:
            vpn.toshi.click: { }
        shigure:
          hosts:
            shigure.test: { }
        mayu:
          hosts:
            mayu.test: { }
#        dev:
#          hosts:
#            dev.test:
#              ansible_connection: local
        raspi:
          hosts:
            raspi.test: { }
            rasdev.test: { }
#            ranko.test: { }
#            sae.test: {}
#            kaede.test: {}
#            shiki.test: {}
        bare_metal:
          children:
            shigure: { }
            mayu: { }
        vm:
          children:
            dev: { }
    network_switch:
      children:
        # YAMAHA RTX1210
        router:
          hosts:
            172.16.1.1: {}
