server_group: "shigure"

spin_out_hdd_list:
  - { name: /dev/sda }
  - { name: /dev/sdb }
  - { name: /dev/sdc }
  - { name: /dev/sde }

# https://github.com/weareinteractive/ansible-ufw
ufw_reset: yes
ufw_rules:
  - { from_ip: '127.0.0.1/32', rule: allow, comment: 'Allow localhost' }
  - { port: 22, rule: limit, comment: 'Allow Limit SSH' }
  - { port: 25, rule: allow, comment: 'Allow Mail' }
  - { port: 80, rule: allow, comment: 'Allow HTTP' }
  - { port: 443, rule: allow, comment: 'Allow HTTPS' }
  - { port: 7860, rule: allow, comment: 'Allow Stable Diffusion' }
  - { port: 9100, rule: allow, comment: 'Allow Node Exporter' }
  - { port: 3389, rule: allow, comment: 'Allow RDP' }
  - { port: 139, rule: allow, comment: 'Allow Samba' }
  - { port: 445, rule: allow, comment: 'Allow Samba' }
#  - { port: 6443, rule: allow, comment: 'Allow Kubelet' }
#  - { from_ip: '172.16.0.0/16', port: "2379:2380", proto: tcp, rule: allow, comment: 'Kubernetes Master' }
#  - { from_ip: '172.16.0.0/16', port: "10250:10252", proto: tcp, rule: allow, comment: 'Kubernetes Master' }
ufw_default_forward_policy: ACCEPT
ufw_logging: low
ufw_applications:
  - { name: "Postfix" }
