name: Lint CloudFormation Templates

on:
  push:
#    paths:
#      - "cloudformation/**"
    branches:
      - main
      - develop
      - 'releases/**'
jobs:
  cloudformation-linter:
    runs-on: self-hosted
    container:
      image: ghcr.io/toshibe678/infra/tools
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Print the Cloud Formation Linter Version & run Linter.
        run: |
          cfn-lint --version
          cfn-lint -t ./cloudformation/*.yml
